<nav>
	<h2>Specific options:</h2>
	<ul>
		<li><a href="${pageContext.request.contextPath}/book/add">Add book</a>
		<li><a href="${pageContext.request.contextPath}/book/modify">Modify book</a>
		<li><a href="${pageContext.request.contextPath}/book/remove">Remove book</a>
		<li><a href="${pageContext.request.contextPath}/book/list">List books</a>
	</ul>
</nav>