<nav>
	<h2>Specific options:</h2>
	<ul>
		<li><a href="${pageContext.request.contextPath}/loan/add">Add loan</a>
		<li><a href="${pageContext.request.contextPath}/loan/return">Return book</a>
		<li><a href="${pageContext.request.contextPath}/loan/list">List loans</a>
	</ul>
</nav>