<nav>
	<h2>Specific options:</h2>
	<ul>
		<li><a href="${pageContext.request.contextPath}/user/add">Add user</a>
		<li><a href="${pageContext.request.contextPath}/user/modify">Modify user</a>
		<li><a href="${pageContext.request.contextPath}/user/remove">Remove user</a>
		<li><a href="${pageContext.request.contextPath}/user/list">List users</a>
	</ul>
</nav>