<nav>
	<h2>General options:</h2>
	<ul>
		<li><a href="${pageContext.request.contextPath}/">Home</a>
		<li><a href="${pageContext.request.contextPath}/book">Books</a>
		<li><a href="${pageContext.request.contextPath}/loan">Loans</a>
		<li><a href="${pageContext.request.contextPath}/user">Users</a>
	</ul>
</nav>